<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/icon.png" type="image/x-icon">
    <script src='https://code.jquery.com/jquery-3.6.3.js'
        integrity='sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    {{!--
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"> --}}
    
    {{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> --}}
    {{!--
    <link rel="icon" type="image/x-icon" href="/images/icon.png"> --}}
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
    {{!--
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    --}}


    <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js"
        data-cf-settings="257be86a981729866f2fa61c-|49" defer=""></script>
    {{!-- toastr --}}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    {{!-- toastr --}}

    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    {{!-- <script src="https://code.jquery.com/jquery-3.6.0.js"></script> --}}
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <script src="/javascripts/index.js"></script>
    {{!-- <script src="../../javascripts/index_admin.js"></script> --}}
    <script type="module" src="/javascripts/index_admin.js"></script>
    <title>WEB FILMS</title>
    <style>
        html {
            scroll-behavior: smooth;
        }

        body {
            background: url(../../images/background.jpg);
            backdrop-filter: blur(12px);
            background-position: center;
            background-size: cover;
        }
        
        #footer {
            position: absolute;
            top: 100%;
            left: 0%;
            z-index: 1;
            width: 100%;

        }
    </style>
</head>

<body>
    {{{body}}}
    <!-- Footer -->
    <footer class="text-center text-lg-start text-muted" id="footer">

        <hr class="borderFooter">
        <!-- Section: Links  -->
        <section class="">
            <div class="text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-3 text-secondary"></i>DỰ ÁN CUỐI KỲ WEB XEM PHIM
                        </h6>
                        <p>
                            <b>Huỳnh Duy Khang</b>
                        </p>
                        <p>
                            <b>Bùi Tuấn Hưng</b>
                        </p>
                        <p>
                            <b>Nguyễn Dương Bình An</b>
                        </p>
                        <p>
                            <b>Võ Minh Nhật</b>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Products
                        </h6>
                        <p>
                            <a href="" class="text-reset">None</a>
                        </p>
                        <p>
                            <a href="" class="text-reset">None</a>
                        </p>
                        <p>
                            <a href="" class="text-reset">None</a>
                        </p>
                        <p>
                            <a href="" class="text-reset">None</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Useful links
                        </h6>
                        <p>
                            <a href="" class="text-reset">None</a>
                        </p>
                        <p>
                            <a href="" class="text-reset">None</a>
                        </p>
                        <p>
                            <a href="" class="text-reset">None</a>
                        </p>
                        <p>
                            <a href="" class="text-reset">None</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                        <p><i class="fas fa-home me-3 text-secondary"></i> Hồ Chí Minh</p>
                        <p>
                            <i class="fas fa-envelope me-3 text-secondary"></i>
                            info@example.com
                        </p>
                        <p><i class="fas fa-phone me-3 text-secondary"></i> + 01 234 567 88</p>
                        <p><i class="fas fa-print me-3 text-secondary"></i> + 01 234 567 89</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->
    </footer>
    <!-- Footer -->
</body>

</html>