<link rel="stylesheet" href="/stylesheets/login.css">
<div class="section">
    <div class="container">
        <div class="row full-height justify-content-center">
            <div class="col-12 text-center align-self-center py-5">
                <div class="section pb-5 pt-5 pt-sm-2 text-center">
                    <div class="card-3d-wrap mx-auto">
                        <div class="card-3d-wrapper">
                            <div class="card-front">
                                <div class="center-wrap">
                                    <div class="section text-center">
                                        <form action="Javascript:void(0)" method="post" id="forgotUser">
                                            <h4 class="mb-3 pb-3">Forgot Password</h4>
                                            <div class="form-group">
                                                <input type="email" class="form-style" placeholder="Email" id="email" required>
                                                <i class="input-icon uil uil-at"></i>
                                            </div>
                                            <div id="optionForgot">
                                                <p class="mb-0 mt-2 text-center"><a href="/login" class="link">Back to Login</a></p>
                                                <div id="sendOTP" class="mb-0 mt-2 text-center">Send OTP</div>
                                            </div>

                                            <div class="form-group mt-2">
                                                <input type="number" class="form-style" placeholder="OTP" id="OTP" required>
                                                <i class="input-icon uil uil-envelope-star"></i>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input type="password" class="form-style" placeholder="Password" required id="password1">
                                                <i class="input-icon uil uil-lock-alt"></i>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input type="password" class="form-style"
                                                    placeholder="Confirm Password" id="password2">
                                                <i class="input-icon uil uil-lock-alt"></i>
                                            </div>
                                            <button class="btn mt-3" type="submit">Confirm</a>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>